
{% extends 'site/base.html' %}
{% load i18n %}

{% block title %}
  {% trans '404' %} | {% trans 'Page not found' %} | {{ block.super }}
{% endblock %}

{% block stage %}
<div id="container_wrapper">
	   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 breadcrumb_services services-left-container">
      <!-- breadcrumb starts here -->
      <div class="bread_crums" itemscope itemtype="https://schema.org/BreadcrumbList">
        <ul>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Home</span></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Services</span></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>{{ page.title|capfirst }}</span></a>
          </li>
      </div>
      <!-- breadcrumb ends here -->
    </div>
    <div class="clearfix"></div>
  <!-- about_react starts here  -->
  <div class="row react_about_row lambda_top_row">
    <div class="container">
      <div class="row tb_row">
        <div class="col-md-2  col-sm-4 col-xs-12 tb_block">
          <img src="/static/site/images/lambda.png" />
        </div>
        <div class="col-md-10 col-sm-8 col-xs-12 tb_block_b">
          <div class="desc">
            <strong>AWS Lambda</strong>
            <p>AWS Lambda is a compute service where you can upload your code to AWS Lambda and the service can run the code on your behalf using AWS infrastructure. After you upload your code and create what we call a Lambda function, AWS Lambda takes care of provisioning and managing the servers that you use to run the code.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about_react ends here --> 

  <!-- lambda_container starts here -->
  <div class="lambda_container row">
    <div class="container">
     <div class="row">
       <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="lambda_content_left">
          <div class="code_icon">
            <i class="fa fa-code"></i>
          </div>

          <div class="content">
          <strong>You can use AWS Lambda as follows:</strong>
          <ul>
            <li>As an event-driven compute service where AWS Lambda runs your code in response to events, such as changes to data in an Amazon S3 bucket or an Amazon DynamoDB table.</li>
            <li>As a compute service to run your code in response to HTTP requests using Amazon API Gateway or API calls made using AWS SDKs.</li>
          </ul>
          <p>  AWS Lambda runs your code on a high-availability compute infrastructure and performs all of the administration of the compute resources, including server and operating system maintenance, capacity provisioning and automatic scaling, code monitoring and logging. All you need to do is supply your code in one of the languages that AWS Lambda supports (currently Node.js, Java, and Python).</p>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-sm-12 col-xs-12" style="padding:0;">
        <div class="lambda_content_center">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="lambda_content_right">
          <div class="icons_block">
            <ul>
              <li> <span class="block"><i class="fa fa-shield" aria-hidden="true"></i> <span class="name">Security</span></span> </li>
              <li><span class="block"> <i class="fa fa-line-chart" aria-hidden="true"></i> <span class="name">Scalling</span> </span></li>
              <li> <span class="block"><i class="fa fa-medkit" aria-hidden="true"></i> <span class="name">Health</span> </span></li>
              <li> <span class="block"><i class="fa fa-history" aria-hidden="true"></i> <span class="name">Logs</span> </span></li>
              <li> <span class="block"><i class="fa fa-cogs" aria-hidden="true"></i> <span class="name">Management</span></span> </li>
              <br clear="all">
            </ul>
          </div>
           <div class="content">
          <strong>Why Should We Use AWS Lambda?</strong>
          <ul>
            <li>When using AWS Lambda, you are responsible only for your code. AWS Lambda manages the compute fleet that offers a balance of memory, CPU, network, and other resources.</li>
            <li>AWS Lambda helps to perform operational and administrative activities on your behalf, including provisioning capacity, monitoring fleet health, applying security patches, deploying your code, and monitoring and logging your Lambda functions.</li>
            <li>You can easily interact with other Amazon services like RDS, Dynamodb, S3 and many more.</li>
             <li>AWS Lambda even logs your computation results over cloudwatch logs.</li>
              <li>Event driven computation.</li>
          </ul>
          <p>With these sort of features and flexibility it is perhaps better to utilize lambda service for fast and secure code execution.</p>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
  <!-- lambda_container ends here -->



  

  </div>
  <!-- our_react_works ends here -->

  



<!-- contact_container starts here -->
<div class="contact_container row marl">
  <div class="container">
    <div class= "col-md-12">
      <div class="contact_block">
        <div class="col-md-7 col-xs-12">
          <div class="contact_details">
            <div class="detail"><i class="fa fa-phone"></i> 040 6599 6999</div>
            <div class="detail"><i class="fa fa-envelope"></i> hello@micropyramid.com</div>
            <div class="detail"><i class="fa fa-map-marker"></i> HIG499, 6th phase KPHB, 
              Hyderabad, India - 500072
            </div>
            <a href="#">Contact Us</a>
          </div>
        </div>
        <div class="col-md-5 col-xs-12 col-sm-12">
          <div class="contact_content">
            <strong>Django Web Development</strong>
            <p>We at Micropyramid follow a dynamic approach and make sure that we deliver top-notch MongoDB applications to our customers. With Mongodb, we can deliver applications with massive data in minimum time and minimum effort, can scale easily our database with no downtime as the application grows rapidly.
            </p>
          </div>
        </div>
        <br clear="all">
      </div>
    </div>
  </div>
</div>
<!-- contact_container ends here -->




<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


<script>
	    setCarouselHeight('#carousel-example');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });

        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }
</script>


</div>
{% endblock %}
