
{% extends 'site/base.html' %}
{% load i18n %}

{% block title %}
  {% trans '404' %} | {% trans 'Page not found' %} | {{ block.super }}
{% endblock %}

{% block stage %}
<div id="container_wrapper">
	<!-- service_banner starts here -->
	<div class="service_banner row marl">
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
			<p>We build powerful Web applications with django. Let's Bring your Idea to Reality.</p>
			<div class="content">
			<p>Quicksand is a display sans serif with rounded terminals. The project was initiated by Andrew Paglinawan in 2008 using geometric shapes as a core foundation. It is designed for display purposes but kept legible enough to use in small sizes as well. In 2016, in collaboration with Andrew, it was thoroughly revised by Thomas Jockin to improve the quality.</p>
			</div>
		</div>
	</div>	
	<!-- srvice_banner ends here -->
	<!-- service_qualities starts here -->
	<div class="service_qualities row">
		<!-- service_quality starts here -->
		<div class="col-md-4">
			<div class="service_quality">
				<div class="icon"><img src="/static/site/images/agile.png" /></div>
				<strong>Agile Methodology</strong>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
			</div>
		</div>
		<!-- service_quality ends here -->
			<!-- service_quality starts here -->
		<div class="col-md-4">
			<div class="service_quality">
				<div class="icon"><img src="/static/site/images/dedicated_team.png" /></div>
				<strong>Dedicated Teams</strong>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
			</div>
		</div>
		<!-- service_quality ends here -->
			<!-- service_quality starts here -->
		<div class="col-md-4">
			<div class="service_quality">
				<div class="icon"><img src="/static/site/images/quality_testing.png" /></div>
				<strong>Quality</strong>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
			</div>
		</div>
		<!-- service_quality ends here -->
	</div>
	<!-- service_qualities ends here -->	
	<!-- service_advantages starts here -->
		<div class="service_advantages row marl">
			<span class="heading"><span>We take advantage of these technologies</span></span>
			<div class="technologies_grid">
				<div class="row">
					<div class="col-md-1 skill">
						<img src="/static/site/images/service_oscar.png" />
					</div>	
					<div class="col-md-1 skill">
						<img src="/static/site/images/service_django.png" />
					</div>	
					<div class="col-md-1 skill">
						<img src="/static/site/images/service_rest.png" />
					</div>	
					<div class="col-md-1 skill">
						<img src="/static/site/images/service_channels.png" />
					</div>	
					<div class="col-md-1 skill">
						<img src="/static/site/images/service_django.png" />
					</div>	
					<div class="col-md-1 skill">
						<img src="/static/site/images/service_rest.png" />
					</div>	
					<div class="col-md-1 skill">
						<img src="/static/site/images/service_oscar.png" />
					</div>	
					<div class="col-md-1 skill">
						<img src="/static/site/images/service_django.png" />
					</div>	
					<div class="col-md-1 skill">
						<img src="/static/site/images/service_rest.png" />
					</div>	
			
				</div>
			</div>
		</div>
	<!-- service_advantages ends here -->
	<!-- our_proud_work starts here -->
		<div class="our_proud_work row marl">
			<span class="heading"><span>Our Proud Work</span></span>
			<span class="hint_text text-center"><b>40+</b> Projects, Clients from <b>7+</b> Countries</span>
				<div class="logo_grid">
				<div class="row logo_grid_row">
					<div class="col-md-4 skill">
						<img src="/static/site/images/hellocoupons.png" />
						<div class="content">
							<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
						</div>
					</div>	
					<div class="col-md-4 skill">
						<img src="/static/site/images/giftingnation.png" />
						<div class="content">
							<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
						</div>
					</div>	
					<div class="col-md-4 skill">
						<img src="/static/site/images/hellocoupons.png" />
						<div class="content">
							<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
						</div>
					</div>	
					<div class="col-md-4 skill">
						<img src="/static/site/images/giftingnation.png" />
						<div class="content">
							<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
						</div>
					</div>	
					</div>
				
			</div>
		</div>
	<!-- our_proud_work ends here -->

	<!-- open_source_projects starts here -->
	<div class="open_source_projects row">
	 <div class="heading"><span>Open Source Contributions</span></div>
		<!-- open_source_item starts here -->
		<div class="col-md-3">
			<div class="open_source_item">
				<strong>Django-MFA</strong>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
				<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/MicroPyramid/MicroSite" data-style="mega" data-count-href="/MicroPyramid/MicroSite/stargazers" data-count-api="/repos/MicroPyramid/MicroSite#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MicroPyramid/MicroSite on GitHub">Star</a>
			</div>
		</div>
		<!-- open_source_item ends here -->
		<!-- open_source_item starts here -->
		<div class="col-md-3">
			<div class="open_source_item">
				<strong>Django-MFA</strong>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
				<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/MicroPyramid/MicroSite" data-style="mega" data-count-href="/MicroPyramid/MicroSite/stargazers" data-count-api="/repos/MicroPyramid/MicroSite#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MicroPyramid/MicroSite on GitHub">Star</a>
			</div>
		</div>
		<!-- open_source_item ends here -->
		<!-- open_source_item starts here -->
		<div class="col-md-3">
			<div class="open_source_item">
				<strong>Django-MFA</strong>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
				<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/MicroPyramid/MicroSite" data-style="mega" data-count-href="/MicroPyramid/MicroSite/stargazers" data-count-api="/repos/MicroPyramid/MicroSite#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MicroPyramid/MicroSite on GitHub">Star</a>
			</div>
		</div>
		<!-- open_source_item ends here -->
			<!-- open_source_item starts here -->
		<div class="col-md-3">
			<div class="open_source_item">
				<strong>Django-MFA</strong>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
				<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/MicroPyramid/MicroSite" data-style="mega" data-count-href="/MicroPyramid/MicroSite/stargazers" data-count-api="/repos/MicroPyramid/MicroSite#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MicroPyramid/MicroSite on GitHub">Star</a>
			</div>
		</div>
		<!-- open_source_item ends here -->
		
	</div>
	<!-- open_source_projects ends here -->	

		<!-- helping_block starts here -->
		<div class="helping_block row marl">
			<span class="heading"><span>We are Helping Others to do same</span></span>
			<div class="col-md-offset-1 col-md-10 col-md-offset-1">
				<div class="row helping_container">
					<div class="col-md-4">
						<div class="helping_item text-center">
							<img src="/static/site/images/github.png" width="43" /> &nbsp; Github
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="helping_item second text-center">
							<img src="/static/site/images/meetup.png" /> Meetups
						</div>
					</div>

					<div class="col-md-4">
						<div class="helping_item third text-center">
							<img src="/static/site/images/dj_g.png" /> Hyderabad 
						</div>
					</div>

				</div>
			</div>
		</div>
	<!-- helping_block ends here -->
	<!-- contact_container starts here -->
	<div class="contact_container row marl">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<div class="contact_block row marl">
				<div class="col-md-7">
					<div class="contact_details">
						<div class="detail"><i class="fa fa-phone"></i> 040 6599 6999</div>
						<div class="detail"><i class="fa fa-envelope"></i> hello@micropyramid.com</div>
						<div class="detail"><i class="fa fa-map-marker"></i> HIG499, 6th phase KPHB, 
Hyderabad, India - 500072</div>
<a href="#">Contact Us</a>
					</div>

				</div>

				<div class="col-md-5">
					<div class="contact_content">
						<strong>Django Web Development</strong>
						<p>Quicksand is a display sans serif with rounded terminals. The project was initiated by Andrew Paglinawan in 2008 using geometric shapes as a core foundation. It is designed for display purposes but kept legible enough to use in small sizes as well. In 2016, in collaboration with Andrew, it was thoroughly revised by Thomas Jockin to improve the quality.
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- contact_container ends here -->
	<!-- recent_blogs starts here -->
	<div class="recent_blogs row">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<span class="heading"><span>Recent Blogs</span></span>
			<div id="carousel-example" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-12">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div class="col-md-4 blog_item blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                    </div>
                </div>
                 <div class="item ">
                    <div class="carousel-content">
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                    </div>
                </div>
                 <div class="item">
                    <div class="carousel-content">
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

		</div>
	</div>
	<!-- recent_blogs ends here -->	





<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


<script>
	    setCarouselHeight('#carousel-example');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });

        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }
</script>


</div>
{% endblock %}
