
{% extends 'site/base.html' %}
{% load i18n %}

{% block title %}
  {% trans '404' %} | {% trans 'Page not found' %} | {{ block.super }}
{% endblock %}

{% block stage %}
<div id="container_wrapper">

	<!-- django_rest_banner starts here -->
	<div class="django_rest_banner row marl text-center">
		<strong>RESTful API</strong>
	</div>	
	<!-- django_rest_banner ends here -->

	<!-- service_banner starts here -->
	<div class="service_banner row marl">
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
			<p>Django Rest Framework Development Services:</p>
			<div class="content">
			<p>Django Rest Framework is a tool Micropyramid utilizes to provide RestFul APIs to our clients. Django REST interfaces are easy to explore with its web-browsable interface. It's easily customizable and offers advanced features.</p>
			</div>
		</div>
	</div>	
	<!-- service_banner ends here -->
	<!--  expertise_container starts here -->
	<div class="expertise_container">
		<div class="row marl">
			<div class="col-md-7 col-sm-12">
				<div class="expertise_circles">
					<div class="cicrles">
						<div class="circle_1 circle">
							<strong>Rest</strong>
							<ul>
								<li>points of view 1st 2nd 3rd </li>
								<li>Hydefad agsgdfsad </li>
								<li>Hydefad agsgdfsad </li>
								<li> example 2nd person point of view</li>
							</ul>
						</div>
						<div class="circle_2 circle">
							<strong>Web Api</strong>
							<ul>
								<li>Point of View - Engrade Wikis </li>
								<li>Point of view - Wikipedia </li>
								<li>Hydefad agsgdfsad </li>
								<li>Hydefad agsgdfsad </li>
								<li>points of view 1st 2nd 3rd </li>
							</ul>
						</div>
					</div>
					<br clear="all">
				</div>
			</div>

			<div class="col-md-5 col-sm-12">
				<div class="expertise_content">
					<b>Django Rest Framework Development Services:</b>
					<p>REST is a web architecture which lives on top of HTTP. It's a way in which we should use HTTP where it acts as a set of guiding principles behind the given application. It allows the clients and servers to communicate with each other in all the possible ways like getting the resource, posting the resource, deleting etc. REST is a resource based on which we use an HTTP verb to dictate what operation we want to do on a URI. In REST resource data used in JSON and XML format.</p>
					<strong>There are three obvious scenarios when providing a powerful REST-based API is a must:</strong> 
					<ul>
					 <li>When enabling feature-rich and fully interactive web applications.</li> 
					 <li>Powering mobile applications by providing a cloud-based backend. </li>
					 <li>Working with third parties to integrate your application into their workflows.</li>
					</ul>

				</div>
			</div>
			<br clear="all">
		</div>
	</div>
	<!-- expertise_container ends here -->
	<!-- service_qualities starts here -->
	<div class="service_qualities testing_service_quality row">
		<!-- service_quality starts here -->
		<div class="col-md-3 col-sm-6">
			<div class="service_quality">
				<div class="content">
					<strong>Unit Testing</strong>
					<p>Unit testing takes place in the development process and they are written by the developers to ensure that the code meets its design and behaves as it is intended to. The main goal behind unit testing is to isolate the individual parts of the program.</p>
				</div>
			</div>
		</div>
		<!-- service_quality ends here -->
			<!-- service_quality starts here -->
		<div class="col-md-3 col-sm-6">
			<div class="service_quality">
				<div class="content">
				<strong>Unit Testing</strong> 
					<p>At Micropyramid we make sure that the system/software undergoes functional testing. Now, this type of testing involves a technique that is used to test the functionality of the system/software and covers up all scenarios including failure paths.</p>
				</div>
			</div>
		</div>
		<!-- service_quality ends here -->
			<!-- service_quality starts here -->
		<div class="col-md-3 col-sm-6">
			<div class="service_quality">
				<div class="content">
					<strong>Automation Testing</strong>
					<p>Each time that you modify a software code, it has to be tested manually to ensure quality and it becomes laborious and costly. Hence, in order to provide a solution we use selenium to automate the entire testing process.</p>
				</div>
			</div>
		</div>
		<!-- service_quality ends here -->
		<!-- service_quality starts here -->
		<div class="col-md-3 col-sm-6">
			<div class="service_quality">
				<div class="content">
					<strong>Automation Testing</strong>
					<p>Each time that you modify a software code, it has to be tested manually to ensure quality and it becomes laborious and costly. Hence, in order to provide a solution we use selenium to automate the entire testing process.</p>
				</div>
			</div>
		</div>
		<!-- service_quality ends here -->
		</div>

	</div>
	<!-- service_qualities ends here -->	


<!-- projects_container starts here -->
	<div class="projects_container row marl">

		<span class="heading"><span>Our Projects</span></span>

			<div class="row text-center">
				<ul>
					<li><img src="/static/site/images/bough_test.png" /></li>
					<li><img src="/static/site/images/pmt_test.png" /></li>
					<li><img src="/static/site/images/giftingnation_test.png" /></li>
					<li><img src="/static/site/images/parent_orbit_test.png" /></li>
					<li><img src="/static/site/images/hello_coupons_test.png" /></li>
				</ul>
		  </div>

		</div>
	<!-- projects_container ends here -->

	<div class="open_source_projects row marl">
  <div class="heading"><span>Open Source Contributions</span></div>
  <!-- open_source_item starts here -->
  <div class="logo_grid">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1 open_source">
      <div class="row each_open_source">
        <div class="col-md-3 col-sm-6 skill">
          <div class="open_source_item">
            <strong>Forex-python</strong> <a aria-label="Star MicroPyramid/forex-python on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/forex-python#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/forex-python/stargazers" data-style="mega" href="https://github.com/MicroPyramid/forex-python" target="_blank">Star</a>
            <p>Free Foreign exchange rates, Bitcoin price index and currency conversion with python and currency symbols, names.</p>
            <!-- Place this tag where you want the button to render. -->
          </div>
        </div>
        <!-- open_source_item ends here --><!-- open_source_item starts here -->
        <div class="col-md-3 col-sm-6 skill">
          <div class="open_source_item">
            <strong>Microurl</strong><a aria-label="Star MicroPyramid/microurl on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/microurl#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/microurl/stargazers" data-style="mega" href="https://github.com/MicroPyramid/microurl" target="_blank">Star</a>
            <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.</p>
            <!-- Place this tag where you want the button to render. -->
          </div>
        </div>
        <!-- open_source_item ends here --><!-- open_source_item starts here -->
        <div class="col-md-3 col-sm-6 skill">
          <div class="open_source_item">
            <strong>Django Simple pagination</strong> <a aria-label="Star MicroPyramid/django-simple-pagination on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/django-simple-pagination#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/django-simple-pagination/stargazers" data-style="mega" href="https://github.com/MicroPyramid/django-simple-pagination" target="_blank">Star</a>
            <p>A simple django application provides simple Digg-style pagination. It is devoted to implementing web pagination in very few steps..</p>
            <!-- Place this tag where you want the button to render. -->
          </div>
        </div>
        <!-- open_source_item ends here --><!-- open_source_item starts here -->
        <div class="col-md-3 col-sm-6 skill">
          <div class="open_source_item">
            <strong>Django PayU</strong> <a aria-label="Star MicroPyramid/django-payu on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/django-payu#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/django-payu/stargazers" data-style="mega" href="https://github.com/MicroPyramid/django-payu" target="_blank">Star</a>
            <p>A simple payu payment gateway application in every few steps</p>
            <!-- Place this tag where you want the button to render. -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- open_source_item ends here -->
</div>

		<!-- helping_block starts here -->
		<div class="helping_block row marl">
			<span class="heading"><span>We are Helping Others to do same</span></span>
			<div class="col-md-offset-1 col-md-10 col-md-offset-1">
				<div class="row helping_container">
					<div class="col-md-4">
						<div class="helping_item text-center">
							<img src="/static/site/images/github.png" width="43" /> &nbsp; Github
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="helping_item second text-center">
							<img src="/static/site/images/meetup.png" /> Meetups
						</div>
					</div>

					<div class="col-md-4">
						<div class="helping_item third text-center">
							<img src="/static/site/images/dj_g.png" /> Hyderabad 
						</div>
					</div>

				</div>
			</div>
		</div>
	<!-- helping_block ends here -->
	<!-- contact_container starts here -->
	<div class="contact_container row marl">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<div class="contact_block row marl">
				<div class="col-md-7 col-xs-12">
					<div class="contact_details">
						<div class="detail"><i class="fa fa-phone"></i> 040 6599 6999</div>
						<div class="detail"><i class="fa fa-envelope"></i> hello@micropyramid.com</div>
						<div class="detail"><i class="fa fa-map-marker"></i> HIG499, 6th phase KPHB, 
Hyderabad, India - 500072</div>
<a href="#">Contact Us</a>
					</div>

				</div>

				<div class="col-md-5 col-xs-12 col-sm-12">
					<div class="contact_content">
						<strong>Django Web Development</strong>
						<p>Quicksand is a display sans serif with rounded terminals. The project was initiated by Andrew Paglinawan in 2008 using geometric shapes as a core foundation. It is designed for display purposes but kept legible enough to use in small sizes as well. In 2016, in collaboration with Andrew, it was thoroughly revised by Thomas Jockin to improve the quality.
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- contact_container ends here -->
	<!-- recent_blogs starts here -->
	<div class="recent_blogs row">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<span class="heading"><span>Recent Blogs</span></span>
			<div id="carousel-example" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-12">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div class="col-md-4 blog_item blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                    </div>
                </div>
                 <div class="item ">
                    <div class="carousel-content">
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                    </div>
                </div>
                 <div class="item">
                    <div class="carousel-content">
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

		</div>
	</div>
	<!-- recent_blogs ends here -->	





<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


<script>
	    setCarouselHeight('#carousel-example');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });

        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }
</script>


</div>
{% endblock %}
