{% extends 'site/base.html' %}
{% load i18n %}
{% block title %}
{% trans '404' %} | {% trans 'Page not found' %} | {{ block.super }}
{% endblock %}
{% block stage %}
<div id="container_wrapper">
  <!-- service_banner starts here -->
  <div class="service_banner django_service_banner row marl">
    <div class="container">
    <div class="col-md-12">
      <p>Django Ecommerce Development Services</p>
      <div class="content">
        <div class="col-md-4 col-sm-4 left"><p>We offer development of e-stores, coupon and shipping websites for a variety of product types, categories, including consumer goods, digital assets, downloadable products.</p></div>
         <div class="col-md-4 col-sm-4 left"><p>We design & develop end-to-end e-commerce solutions / Ecommerce websites using Django Oscar which provides powerful promotional tools, easy product management, multi-lingual, multi-currency enablement, convenient order management, secure payment gateways, etc.</p></div>
        <div class="col-md-4 col-sm-4 left"> <p>We help you to integrate the best payment gateway such as Paypal (Express, Payflow), Stripe, eSelectPlus(Moneris) and many more that will help you to manage and process all of your online transactions.</p></div>
      </div>
      </div>
    </div>
  </div>
  <!-- srvice_banner ends here -->
  
  <!-- django_features strats here -->
  <div class="row django_features">
    <div class="container">
    <div class="row"><span class="heading"><span>Django Ecommerce Features</span></span></div>
      <div class="row">
      <!-- feature_block starts here -->
        <div class="col-md-4 col-sm-6">
          <div class="feature_block">
            <div class="feature_content_image">
              <div class="feature_image">
                <img src="/static/site/images/ec_search.png" />
              </div>
              <div class="desc_position">
                 Giving the flexibility to search the products they are interested in. Using our well-designed dashboard you
              </div>
            </div>
            <div class="feature_title">
                Product Search
              </div>
          </div>
        </div>
      <!-- feature_block ends here -->
       <!-- feature_block starts here -->
        <div class="col-md-4 col-sm-6">
          <div class="feature_block">
            <div class="feature_content_image">
              <div class="feature_image">
                <img src="/static/site/images/ec_pd.png" />
              </div>
              <div class="desc_position">
                 Giving the flexibility to search the products they are interested in. Using our well-designed dashboard you
              </div>
            </div>
            <div class="feature_title">
                Product Details 
              </div>
          </div>
        </div>
      <!-- feature_block ends here -->
       <!-- feature_block starts here -->
        <div class="col-md-4 col-sm-6">
          <div class="feature_block">
            <div class="feature_content_image">
              <div class="feature_image">
                <img src="/static/site/images/ec_filter.png" />
              </div>
              <div class="desc_position">
                 Giving the flexibility to search the products they are interested in. Using our well-designed dashboard you
              </div>
            </div>
            <div class="feature_title">
                Product Filtering
              </div>
          </div>
        </div>
      <!-- feature_block ends here -->
       <!-- feature_block starts here -->
        <div class="col-md-4 col-sm-6">
          <div class="feature_block">
            <div class="feature_content_image">
              <div class="feature_image">
                <img src="/static/site/images/ec_pay.png" />
              </div>
              <div class="desc_position">
                 Giving the flexibility to search the products they are interested in. Using our well-designed dashboard you
              </div>
            </div>
            <div class="feature_title">
                Multiple Payment Methods
              </div>
          </div>
        </div>
      <!-- feature_block ends here -->
       <!-- feature_block starts here -->
        <div class="col-md-4 col-sm-6">
          <div class="feature_block">
            <div class="feature_content_image">
              <div class="feature_image">
                <img src="/static/site/images/ec_dash.png" />
              </div>
              <div class="desc_position">
                 Giving the flexibility to search the products they are interested in. Using our well-designed dashboard you
              </div>
            </div>
            <div class="feature_title">
                Managing Your Content 
            </div>
          </div>
        </div>
      <!-- feature_block ends here -->
       <!-- feature_block starts here -->
        <div class="col-md-4 col-sm-6">
          <div class="feature_block">
            <div class="feature_content_image">
              <div class="feature_image">
                <img src="/static/site/images/ec_pd_review.png" />
              </div>
              <div class="desc_position">
                 Giving the flexibility to search the products they are interested in. Using our well-designed dashboard you
              </div>
            </div>
            <div class="feature_title">
                Product Reviews and Ratings
              </div>
          </div>
        </div>
      <!-- feature_block ends here -->
      </div>
    </div>
  </div>
  <!-- django_features ends here -->



<!-- need_testing_container starts here -->
<div class="need_testing_container django_ecommerce_list row marl">
  <div class="container need_testing_block ">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 testing_left">
        <ul>
       <li> It can handle any product type. This includes downloadable products, subscriptions etc.</li>
       <li> It provides an extensive catalogue support. In fact, this framework is used by websites that have over 20 million products.</li>
       <li> Provides the option of multiple fulfilment partners for a single product.</li>
       <li> Diverse range of merchandising blocks for promotion of products throughout your website.</li>
       <li> It has a comprehensive dashboard that replaces the Django admin completely.</li>
        <li>It provides support for complex products handling. This includes split payments orders, multi-batch shipping, and order status pipelines.</li>
        </ul>
        <ul>
       <li> It can handle any product type. This includes downloadable products, subscriptions etc.</li>
       <li> It provides an extensive catalogue support. In fact, this framework is used by websites that have over 20 million products.</li>
       <li> Provides the option of multiple fulfilment partners for a single product.</li>
       <li> Diverse range of merchandising blocks for promotion of products throughout your website.</li>
       <li> It has a comprehensive dashboard that replaces the Django admin completely.</li>
        <li>It provides support for complex products handling. This includes split payments orders, multi-batch shipping, and order status pipelines.</li>
        </ul>
      </div>
      <!-- <div class="col-md-5 col-sm-8 col-xs-12 testing_right">
        <img src="/static/site/images/ques_testing_1.png" />
        </div> -->
    </div>
  </div>
</div>
<!-- need_testing_container ends here -->

<!-- projects_container starts here -->
<div class="projects_container row marl">
  <span class="heading"><span>Our Projects</span></span>
  <div class="row text-center">
    <ul>
      <li><img src="/static/site/images/crim.png" /></li>
      <li><img src="/static/site/images/pmt_test.png" /></li>
      <li><img src="/static/site/images/99.png" /></li>
    </ul>
  </div>
</div>
<!-- projects_container ends here -->
<div class="open_source_projects  marl">
  <div class="container">
    <div class="heading"><span>Open Source Contributions</span></div>
    <!-- open_source_item starts here -->
    <div class="logo_grid">
      <div class="open_source">
        <div class=" each_open_source">
          <div class="col-md-3 col-sm-6 skill">
            <div class="open_source_item">
              <strong>Forex-python</strong> <a aria-label="Star MicroPyramid/forex-python on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/forex-python#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/forex-python/stargazers" data-style="mega" href="https://github.com/MicroPyramid/forex-python" target="_blank">Star</a>
              <p>Free Foreign exchange rates, Bitcoin price index and currency conversion with python and currency symbols, names.</p>
              <!-- Place this tag where you want the button to render. -->
            </div>
          </div>
          <!-- open_source_item ends here --><!-- open_source_item starts here -->
          <div class="col-md-3 col-sm-6 skill">
            <div class="open_source_item">
              <strong>Microurl</strong><a aria-label="Star MicroPyramid/microurl on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/microurl#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/microurl/stargazers" data-style="mega" href="https://github.com/MicroPyramid/microurl" target="_blank">Star</a>
              <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.</p>
              <!-- Place this tag where you want the button to render. -->
            </div>
          </div>
          <!-- open_source_item ends here --><!-- open_source_item starts here -->
          <div class="col-md-3 col-sm-6 skill">
            <div class="open_source_item">
              <strong>Django Simple pagination</strong> <a aria-label="Star MicroPyramid/django-simple-pagination on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/django-simple-pagination#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/django-simple-pagination/stargazers" data-style="mega" href="https://github.com/MicroPyramid/django-simple-pagination" target="_blank">Star</a>
              <p>A simple django application provides simple Digg-style pagination. It is devoted to implementing web pagination in very few steps..</p>
              <!-- Place this tag where you want the button to render. -->
            </div>
          </div>
          <!-- open_source_item ends here --><!-- open_source_item starts here -->
          <div class="col-md-3 col-sm-6 skill">
            <div class="open_source_item">
              <strong>Django PayU</strong> <a aria-label="Star MicroPyramid/django-payu on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/django-payu#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/django-payu/stargazers" data-style="mega" href="https://github.com/MicroPyramid/django-payu" target="_blank">Star</a>
              <p>A simple payu payment gateway application in every few steps</p>
              <!-- Place this tag where you want the button to render. -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- open_source_item ends here -->
</div>
<!-- helping_block starts here -->
<div class="helping_block row marl">
  <div class="container">
    <span class="heading"><span>We are Helping Others to do same</span></span>
    <div class="helping_container">
      <div class="col-md-4">
        <div class="helping_item text-center">
          <img src="/static/site/images/github.png" width="43" /> &nbsp; Github
        </div>
      </div>
      <div class="col-md-4">
        <div class="helping_item second text-center">
          <img src="/static/site/images/meetup.png" /> Meetups
        </div>
      </div>
      <div class="col-md-4">
        <div class="helping_item third text-center">
          <img src="/static/site/images/dj_g.png" /> Hyderabad 
        </div>
      </div>
    </div>
  </div>
</div>
<!-- helping_block ends here -->
<!-- contact_container starts here -->
<div class="contact_container row marl">
  <div class="container">
    <div class= "col-md-12">
      <div class="contact_block">
        <div class="col-md-7 col-xs-12">
          <div class="contact_details">
            <div class="detail"><i class="fa fa-phone"></i> 040 6599 6999</div>
            <div class="detail"><i class="fa fa-envelope"></i> hello@micropyramid.com</div>
            <div class="detail"><i class="fa fa-map-marker"></i> HIG499, 6th phase KPHB, 
              Hyderabad, India - 500072
            </div>
            <a href="#">Contact Us</a>
          </div>
        </div>
        <div class="col-md-5 col-xs-12 col-sm-12">
          <div class="contact_content">
            <strong>Django Web Development</strong>
            <p>Quicksand is a display sans serif with rounded terminals. The project was initiated by Andrew Paglinawan in 2008 using geometric shapes as a core foundation. It is designed for display purposes but kept legible enough to use in small sizes as well. In 2016, in collaboration with Andrew, it was thoroughly revised by Thomas Jockin to improve the quality.
            </p>
          </div>
        </div>
        <br clear="all">
      </div>
    </div>
  </div>
</div>
<!-- contact_container ends here -->
<!-- recent_blogs starts here -->
<div class="recent_blogs row">
  <div class="container">
    <div class="col-md-12">
      <span class="heading"><span>Recent Blogs</span></span>
      <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="row">
          <div class="col-xs-12">
            <div class="carousel-inner">
              <div class="item active">
                <div class="carousel-content">
                  <div class="col-md-4 blog_item blog_item">
                    <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
                  <div class="col-md-4 blog_item">
                    <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
                  <div class="col-md-4 blog_item">
                    <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
                </div>
              </div>
              <div class="item ">
                <div class="carousel-content">
                  <div class="col-md-4 blog_item">
                    <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
                  <div class="col-md-4 blog_item">
                    <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
                  <div class="col-md-4 blog_item">
                    <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="carousel-content">
                  <div class="col-md-4 blog_item">
                    <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
                  <div class="col-md-4 blog_item">
                    <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
                  <div class="col-md-4 blog_item">
                    <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<!-- recent_blogs ends here --> 
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
  setCarouselHeight('#carousel-example');
  
  function setCarouselHeight(id)
  {
     var slideHeight = [];
     $(id+' .item').each(function()
     {
         // add all slide heights to an array
         slideHeight.push($(this).height());
     });
  
     // find the tallest item
     max = Math.max.apply(null, slideHeight);
  
     // set the slide's height
     $(id+' .carousel-content').each(function()
     {
         $(this).css('height',max+'px');
     });
  }
</script>
</div>
{% endblock %}