
{% extends 'site/base.html' %}
{% load i18n %}

{% block title %}
  {% trans '404' %} | {% trans 'Page not found' %} | {{ block.super }}
{% endblock %}

{% block stage %}
<div id="container_wrapper">
	<!-- service_banner starts here -->
	<div class="service_banner python_service_banner row marl">
		<div class="container">
			<div class="row">
				<div class="col-md-6 left_content">
					<p>python  We build powerful Web applications with django. Let's Bring your Idea to Reality.</p>
				</div>
				<div class="col-md-6 right_content">
					<p>Quicksand is a display sans serif with rounded terminals. The project was initiated by Andrew Paglinawan in 2008 using geometric shapes as a core foundation. It is designed for display purposes but kept legible enough to use in small sizes as well. In 2016, in collaboration with Andrew, it was thoroughly revised by Thomas Jockin to improve the quality.</p>
				</div>
			</div>			
		</div>
	</div>	
	<!-- srvice_banner ends here -->
	<!-- python_strength_automation starts here -->
	<div class="python_strength_automation row marl">
		<div class="container">
		<div class="p_s_a_table">
			<div class="col-md-4 col-sm-12 our_strength">
				<strong>Our Python Strength</strong>
				<div class="count_block">
					<div class="count_item">
						<span class="icon"><i class="fa fa-tasks"></i></span>
						<span class="count">40+</span>
						<span class="name">Projects Completed</span>
					</div>
					<div class="count_item">
						<span class="icon"><i class="fa fa-star"></i></span>
						<span class="count">25+</span>
						<span class="name">Expereienced Developers</span>
					</div>
					<div class="count_item">
						<span class="icon"><i class="fa fa-coffee"></i></span>
						<span class="count">10+</span>
						<span class="name">Happy Clients</span>
					</div>
					<div class="count_item">
						<span class="icon"><i class="fa fa-map-marker"></i></span>
						<span class="count">7+</span>
						<span class="name">Served Countries</span>
					</div>
				</div>
			</div>

			<div class="col-md-8 col-sm-12 automation_container">
				<div class="process_container text-center">
					<img src="/static/site/images/python_s.png" class="img_rel" />
					<div class="block first">
						<strong>Automation</strong>
						<p>ou don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services</p>
					</div>
					<div class="block second">
						<strong>Automation</strong>
						<p>ou don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services</p>
					</div>
					<div class="block third">
						<strong>Automation</strong>
						<p>ou don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services</p>
					</div>
					<div class="block four">
						<strong>Automation</strong>
						<p>ou don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services</p>
					</div>

				</div>
			</div>
		</div>
		</div>
	</div>
	<!-- python_strength_automation ends here -->
	<!-- service_qualities starts here -->
	<div class="service_qualities python_service_qualities row">
		<div class="container">
		<!-- service_quality starts here -->
		<div class="col-md-6 col-sm-6">
			<div class="service_quality text-center">
				<strong>Python Web Development</strong>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started 2008 using geometric shapes as a core foundation. It is designed </p>
			</div>
		</div>
		<!-- service_quality ends here -->
			<!-- service_quality starts here -->
		<div class="col-md-6 col-sm-6">
			<div class="service_quality text-center">
				<strong>Scientific Data Analysis</strong>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started 2008 using geometric shapes as a core foundation. It is designed </p>
			</div>
		</div>
		<!-- service_quality ends here -->
		</div>
	</div>
	<!-- service_qualities ends here -->	
	
	
	<!-- open_source_projects starts here -->
	<div class="open_source_projects row">
	 <div class="heading"><span>Open Source Contributions</span></div>
		<!-- open_source_item starts here -->
		<div class="col-md-3 col-sm-6">
			<div class="open_source_item">
				<strong>Django-MFA</strong>
				<a class="github-button" href="https://github.com/MicroPyramid/MicroSite" data-style="mega" data-count-href="/MicroPyramid/MicroSite/stargazers" data-count-api="/repos/MicroPyramid/MicroSite#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MicroPyramid/MicroSite on GitHub">Star</a>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation,</p>
				<!-- Place this tag where you want the button to render. -->

			</div>
		</div>
		<!-- open_source_item ends here -->
		<!-- open_source_item starts here -->
		<div class="col-md-3 col-sm-6">
			<div class="open_source_item">
				<strong>Django-MFA</strong>
				<a class="github-button" href="https://github.com/MicroPyramid/MicroSite" data-style="mega" data-count-href="/MicroPyramid/MicroSite/stargazers" data-count-api="/repos/MicroPyramid/MicroSite#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MicroPyramid/MicroSite on GitHub">Star</a>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, </p>
				<!-- Place this tag where you want the button to render. -->

			</div>
		</div>
		<!-- open_source_item ends here -->
		<!-- open_source_item starts here -->
		<div class="col-md-3 col-sm-6">
			<div class="open_source_item">
				<strong>Django-MFA</strong>
				<a class="github-button" href="https://github.com/MicroPyramid/MicroSite" data-style="mega" data-count-href="/MicroPyramid/MicroSite/stargazers" data-count-api="/repos/MicroPyramid/MicroSite#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MicroPyramid/MicroSite on GitHub">Star</a>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementationed</p>
				<!-- Place this tag where you want the button to render. -->

			</div>
		</div>
		<!-- open_source_item ends here -->
			<!-- open_source_item starts here -->
		<div class="col-md-3 col-sm-6">
			<div class="open_source_item">
				<strong>Django-MFA</strong>
				<a class="github-button" href="https://github.com/MicroPyramid/MicroSite" data-style="mega" data-count-href="/MicroPyramid/MicroSite/stargazers" data-count-api="/repos/MicroPyramid/MicroSite#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star MicroPyramid/MicroSite on GitHub">Star</a>
				<p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started</p>
				<!-- Place this tag where you want the button to render. -->

			</div>
		</div>
		<!-- open_source_item ends here -->
		
	</div>
	<!-- open_source_projects ends here -->	

		<!-- helping_block starts here -->
		<div class="helping_block row marl">
			<span class="heading"><span>We are Helping Others to do same</span></span>
			<div class="col-md-offset-1 col-md-10 col-md-offset-1">
				<div class="row helping_container">
					<div class="col-md-4">
						<div class="helping_item text-center">
							<img src="/static/site/images/github.png" width="43" /> &nbsp; Github
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="helping_item second text-center">
							<img src="/static/site/images/meetup.png" /> Meetups
						</div>
					</div>

					<div class="col-md-4">
						<div class="helping_item third text-center">
							<img src="/static/site/images/dj_g.png" /> Hyderabad 
						</div>
					</div>

				</div>
			</div>
		</div>
	<!-- helping_block ends here -->
	<!-- contact_container starts here -->
	<div class="contact_container row marl">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<div class="contact_block row marl">
				<div class="col-md-7 col-xs-12">
					<div class="contact_details">
						<div class="detail"><i class="fa fa-phone"></i> 040 6599 6999</div>
						<div class="detail"><i class="fa fa-envelope"></i> hello@micropyramid.com</div>
						<div class="detail"><i class="fa fa-map-marker"></i> HIG499, 6th phase KPHB, 
Hyderabad, India - 500072</div>
<a href="#">Contact Us</a>
					</div>

				</div>

				<div class="col-md-5 col-xs-12 col-sm-12">
					<div class="contact_content">
						<strong>Django Web Development</strong>
						<p>Quicksand is a display sans serif with rounded terminals. The project was initiated by Andrew Paglinawan in 2008 using geometric shapes as a core foundation. It is designed for display purposes but kept legible enough to use in small sizes as well. In 2016, in collaboration with Andrew, it was thoroughly revised by Thomas Jockin to improve the quality.
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- contact_container ends here -->
	<!-- recent_blogs starts here -->
	<div class="recent_blogs row">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<span class="heading"><span>Recent Blogs</span></span>
			<div id="carousel-example" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-12">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div class="col-md-4 blog_item blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                    </div>
                </div>
                 <div class="item ">
                    <div class="carousel-content">
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                    </div>
                </div>
                 <div class="item">
                    <div class="carousel-content">
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                        <div class="col-md-4 blog_item">
                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

		</div>
	</div>
	<!-- recent_blogs ends here -->	





<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


<script>
	    setCarouselHeight('#carousel-example');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });

        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }
</script>


</div>
{% endblock %}
