
{% extends 'site/base.html' %}
{% load i18n %}

{% block title %}
  {% trans '404' %} | {% trans 'Page not found' %} | {{ block.super }}
{% endblock %}

{% block stage %}
<div id="container_wrapper">
	   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 breadcrumb_services services-left-container">
      <!-- breadcrumb starts here -->
      <div class="bread_crums" itemscope itemtype="https://schema.org/BreadcrumbList">
        <ul>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Home</span></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Services</span></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>{{ page.title|capfirst }}</span></a>
          </li>
      </div>
      <!-- breadcrumb ends here -->
    </div>
    <div class="clearfix"></div>
  <!-- about_react starts here  -->
  <div class="row react_about_row">
    <div class="">
      <div class="row tb_row">
        <div class="col-md-3  col-sm-4 col-xs-12 tb_block">
          <img src="/static/site/images/react_1.png" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12 tb_block_b">
          <div class="desc">
            <strong>Android & IOS App development with React Native</strong>
            <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.
            We can do a field level quries, range level queries, expression related queries. Its also supports predefined functions to get the results from massive data.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about_react ends here --> 
  

  <!-- service_qualities starts here -->
  <div class="row react_about_row react_process">
    <div class="row text-center"><span class="heading"><span>Our Process</span></span></div>
       <div class="container">
          <div class="row react_row">
           <div class="col-md-3 col-md-push-9 col-sm-4 col-xs-12 tb_block tb_img right">
              <img src="/static/site/images/analysing.png" />
            </div>

            <div class="col-md-9 col-md-pull-3 col-sm-8 col-xs-12 tb_block_b right">
              <div class="desc">
                <strong>Android & IOS App development with React Native</strong>
                <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.
                We can do a field level quries, range level queries, expression related queries. Its also supports predefined functions to get the results from massive data.
                </p>
              </div>
            </div>

           
          
          </div>

          <div class="row react_row">
           <div class="col-md-3 col-sm-4 col-xs-12 tb_block tb_img left">
              <img src="/static/site/images/react_design.png" />
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 tb_block_b">
              <div class="desc">
                <strong>Android & IOS App development with React Native</strong>
                <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.
                We can do a field level quries, range level queries, expression related queries. Its also supports predefined functions to get the results from massive data.
                </p>
              </div>
            </div>
          
          </div>

          <div class="row react_row">
             <div class="col-md-3  col-md-push-9 col-sm-4 col-xs-12 tb_block tb_img right">
              <img src="/static/site/images/react_4.png" />
            </div>
            <div class="col-md-9  col-md-pull-3 col-sm-8 col-xs-12 tb_block_b right">
              <div class="desc">
                <strong>Android & IOS App development with React Native</strong>
                <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.
                We can do a field level quries, range level queries, expression related queries. Its also supports predefined functions to get the results from massive data.
                </p>
              </div>
            </div>

           
          
          </div>
       </div>
    </div>
  </div>
  <!-- service_qualities ends here -->  
  

  <!-- our_react_works starts here -->
  <div class="row our_react_works">
    <div class="row text-center"><span class="heading"><span>Our Works</span></span></div>
    <div class="container">
    <div class="col-mnd-offset-2 col-md-8 col-md-offset-2 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="works_container text-center">
             <div class="image"><img src="/static/site/images/react_rs.png" /></div>
            <strong>Radio String</strong>
            <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository. We can do a field level quries, range level queries, expression related queries.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="works_container text-center">
            <div class="image"><img src="/static/site/images/react_steady.png" /></div>
            <strong>Steady</strong>
            <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository. We can do a field level quries, range level queries, expression related queries.</p>
          </div>
        </div>
      </div>
</div>
      
      </div>

    </div>
  </div>
  <!-- our_react_works ends here -->


  <!-- about_react starts here  -->
  <div class="row react_about_row">
    <div class="container">
      <div class="row tb_row">
        <div class="col-md-4  col-sm-4 col-xs-12 tb_block">
          <img src="/static/site/images/why_react.png" />
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 tb_block_b">
          <div class="desc">
            <strong>Why React Native for mobile apps?</strong>
            <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.
            We can do a field level quries, range level queries, expression related queries. Its also supports predefined functions to get the results from massive data.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about_react ends here -->
  <!-- about_react starts here  -->
  <div class="row react_about_row">
    <div class="container">
      <div class="row tb_row">
        <div class="col-md-4  col-sm-4 col-xs-12 tb_block">
          <img src="/static/site/images/micropyramid.png" />
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 tb_block_b">
          <div class="desc">
            <strong>Why to choose MicroPyramid?</strong>
            <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.
            We can do a field level quries, range level queries, expression related queries. Its also supports predefined functions to get the results from massive data.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about_react ends here --> 
  
  

	<!-- service_qualities starts here -->
	<div class="service_qualities mongo_service_quality react_tools_quality row">
		<div class="container">
		<div class="row text-center"><span class="heading"><span>Our Tools</span></span></div><br><br>
		<!-- service_quality starts here -->
		<div class="col-md-4 col-sm-12">
			<div class="service_quality">
				<div class="content">
					<div class="icon"><img src="/static/site/images/firebase.png" /></div>
					<strong>Firebase</strong>
					<p>BSON is a JSON-like storage format that mongodb uses when storing documents in collections(tables). It supports all types of data, also large binary objects.</p>
				</div>
			</div>
		</div>
		<!-- service_quality ends here -->
			<!-- service_quality starts here -->
		<div class="col-md-4 col-sm-12">
			<div class="service_quality">
				<div class="content">
				<div class="icon"><img src="/static/site/images/redux.png" /></div>
				<strong>Redux</strong> 
					<p>We can do a field level quries, range level queries, expression related queries. Its also supports predefined functions to get the results from massive data.</p>
				</div>
			</div>
		</div>
		<!-- service_quality ends here -->
			<!-- service_quality starts here -->
		<div class="col-md-4 col-sm-12">
			<div class="service_quality">
				<div class="content">
				  <div class="icon"><img src="/static/site/images/webpack.png" /></div>
					<strong>Webpack</strong>
					<p>We can scale your database schema efficiently and inexpensively which increases performance of data processing.</p>
				</div>
			</div>
		</div>
		<!-- service_quality ends here -->

		</div>
		</div>

	</div>
	<!-- service_qualities ends here -->	


<!-- contact_container starts here -->
<div class="contact_container row marl">
  <div class="container">
    <div class= "col-md-12">
      <div class="contact_block">
        <div class="col-md-7 col-xs-12">
          <div class="contact_details">
            <div class="detail"><i class="fa fa-phone"></i> 040 6599 6999</div>
            <div class="detail"><i class="fa fa-envelope"></i> hello@micropyramid.com</div>
            <div class="detail"><i class="fa fa-map-marker"></i> HIG499, 6th phase KPHB, 
              Hyderabad, India - 500072
            </div>
            <a href="#">Contact Us</a>
          </div>
        </div>
        <div class="col-md-5 col-xs-12 col-sm-12">
          <div class="contact_content">
            <strong>Django Web Development</strong>
            <p>We at Micropyramid follow a dynamic approach and make sure that we deliver top-notch MongoDB applications to our customers. With Mongodb, we can deliver applications with massive data in minimum time and minimum effort, can scale easily our database with no downtime as the application grows rapidly.
            </p>
          </div>
        </div>
        <br clear="all">
      </div>
    </div>
  </div>
</div>
<!-- contact_container ends here -->




<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


<script>
	    setCarouselHeight('#carousel-example');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });

        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }
</script>


</div>
{% endblock %}
