{% extends 'site/base.html' %}
{% load i18n %}
{% block title %}
{% trans '404' %} | {% trans 'Page not found' %} | {{ block.super }}
{% endblock %}
{% block stage %}
<div id="container_wrapper">
  <div class="seo_banner">
  <div class="container">
    <div class="image"><img src="/static/site/images/se-banner.png">
  </div>
  </div>
  <!-- service_banner starts here -->
  <div class="service_banner row marl">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
      <p>Search Engine Optimization Services In USA</p>
      <div class="content">
        <p>Search Engine Optimization is not new but it is something that very few get right. We are here to help you. Leave it to us to get you the best SEO Results in no time!</p>
      </div>
    </div>
  </div>
  <!-- service_banner ends here -->
  <!-- service_qualities starts here -->
  <div class="service_qualities mongo_service_quality row">
    <div class="container">
      <div class="row text-center"><span class="heading"><span>Why Search Engine Optimization is important to your Business</span></span></div>
      <!-- service_quality starts here -->
      <div class="col-md-6 col-sm-6">
        <div class="service_quality">
          <div class="content">
            <strong>Improve Website Rankings</strong>
            <p>The Majority of Search Engine Visitors are more likely to click on one of the top 5 suggestions in the Search engine results page. Top Position in search results will get more clicks and Impressions. So, Ranking in top position will significantly Improve Traffic.</p>
          </div>
        </div>
      </div>
      <!-- service_quality ends here -->
      <!-- service_quality starts here -->
      <div class="col-md-6 col-sm-6">
        <div class="service_quality">
          <div class="content">
            <strong>Brand Awareness</strong> 
            <p>Visibility plays a vital role in brand Awareness. If many customers visit your site, get familiar with your business and more likely visiting back you again and telling their friends about your website is brand Awareness. To Increase brand awareness your website should be more visible in search engine results page.</p>
          </div>
        </div>
      </div>
      <!-- service_quality ends here -->
      <!-- service_quality starts here -->
      <div class="col-md-6 col-sm-6">
        <div class="service_quality">
          <div class="content">
            <strong>Reducing Marketing Cost</strong>
            <p>Search Engine Optimization brings a lot of business to your website quite low cost when compared to the cost of ppc, social media marketing, radio, tv and newspapers.</p>
          </div>
        </div>
      </div>
      <!-- service_quality ends here -->
      <!-- service_quality starts here -->
      <div class="col-md-6 col-sm-6">
        <div class="service_quality">
          <div class="content">
            <strong>User experience</strong>
            <p>Seo is not only for Search engines but good seo practices will improve user Experience and usability of a site. If we rank high in search engine results page without good call to action points then we will lose business and valuable customers.</p>
          </div>
        </div>
      </div>
      <!-- service_quality ends here -->
    </div>
  </div>
</div>
<!-- service_qualities ends here -->  
<!-- how_we_do starts here -->
<div class="how_we_do_container seo_benifits_block row marl">
  <div class="container">
    <div class="row how_we_do_col">
      <!-- we_do_block starts here -->
      <div class="col-md-3 col-sm-3">
        <div class="we_do_block">
          <div class="icon"><i class="fa fa-search"></i></div>
          <strong>Seo</strong>
          <p>SEO is an ongoing process and we stay updated at all times with respect</p>
        </div>
      </div>
      <!-- we_do_block ends here -->
      <!-- we_do_block starts here -->
      <div class="col-md-3 col-sm-3">
        <div class="we_do_block">
          <div class="icon"><i class="fa fa-star" aria-hidden="true"></i></div>
          <strong>Higher Page Rankings</strong>
          <p>SEO is an ongoing process and we stay updated at all times with respect</p>
        </div>
      </div>
      <!-- we_do_block ends here -->
      <!-- we_do_block starts here -->
      <div class="col-md-3 col-sm-3">
        <div class="we_do_block">
          <div class="icon"><i class="fa fa-signal" aria-hidden="true"></i></div>
          <strong>Increased Traffic</strong>
          <p>SEO is an ongoing process and we stay updated at all times with respect</p>
        </div>
      </div>
      <!-- we_do_block ends here -->
      <!-- we_do_block starts here -->
      <div class="col-md-3 col-sm-3">
        <div class="we_do_block last">
          <div class="icon"><i class="fa fa-money" aria-hidden="true"></i></div>
          <strong>Increased ROI</strong>
          <p>SEO is an ongoing process and we stay updated at all times with respect</p>
        </div>
      </div>
      <!-- we_do_block ends here -->
    </div>
  </div>
</div>
<!-- how_we_do ends here -->
<!-- service_qualities starts here -->
<div class="service_qualities why_to_choose row">
  <div class="container">
    <div class="row text-center"><span class="heading"><span>Why to choose Micropyramid for SEO</span></span></div>
    <div class="col-md-12">
      <div class="desc">
        <p>At MicroPyramid, we have a team of experts who have worked across industries and done some phenomenal work to improve SEO rankings and relevance for websites across different product categories and sectors. We first analyze your website and find out its lacking features both from an on-page as well as off-page SEO perspective. But, that’s not where we stop; we also study your competitor’s websites and find out their loopholes. We, then commence work on your website. Not only do we improve it and optimize it, we also add that extra zing that your competitor lacks; giving you that edge over the competition.</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- service_qualities ends here -->  

<!-- service_qualities starts here -->
<div class="service_qualities mp_seo row">
  <div class="container">
    <div class="row text-center"><span class="heading"><span>Seo Process at Micropyramid</span></span></div>
    <div class="col-md-12">
      <div class="desc">
        <p>Micropyramid Seo process includes not only On-page and Off-page optimization but also includes social engagement. Our Whole Seo work process.</p>
      </div>
      <div class="text-center image">
        <img src="/static/site/images/seo_process.png" /><
      </div>
    </div>
  </div>
</div>
</div>
<!-- service_qualities ends here -->  

<div class="row seo_final_content_row">
  <div class="container">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2 text-center">
      <div class="seo_final_content">
        <p>SEO is an ongoing process and we stay updated at all times with respect to the latest updates by Google and other search engines. We ensure that your website stays relevant across all search engines, be it Google, Yahoo or Bing at all times. And most importantly, we ensure that your website stays relevant for your customers, that it brings you the most relevant leads and conversions!</p>
        <p>So, what are you waiting for, Contact us now at <strong>hello@micropyramid.com</strong> to know more about our SEO marketing and website optimization services.</p>
      </div>
    </div>
  </div>
</div>
<!-- projects_container starts here -->
<div class="projects_container row marl">
  <div class="container">
    <span class="heading"><span>Our Projects</span></span>
    <div class="row text-center">
      <ul>
        <li><img src="/static/site/images/bough_test.png" /></li>
        <li><img src="/static/site/images/pmt_test.png" /></li>
        <li><img src="/static/site/images/giftingnation_test.png" /></li>
        <li><img src="/static/site/images/parent_orbit_test.png" /></li>
        <li><img src="/static/site/images/hello_coupons_test.png" /></li>
      </ul>
    </div>
  </div>
</div>
<!-- projects_container ends here -->
<div class="open_source_projects  marl">
  <div class="container">
    <div class="heading"><span>Open Source Contributions</span></div>
    <!-- open_source_item starts here -->
    <div class="logo_grid">
      <div class="open_source">
        <div class=" each_open_source">
          <div class="col-md-3 col-sm-6 skill">
            <div class="open_source_item">
              <strong>Forex-python</strong> <a aria-label="Star MicroPyramid/forex-python on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/forex-python#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/forex-python/stargazers" data-style="mega" href="https://github.com/MicroPyramid/forex-python" target="_blank">Star</a>
              <p>Free Foreign exchange rates, Bitcoin price index and currency conversion with python and currency symbols, names.</p>
              <!-- Place this tag where you want the button to render. -->
            </div>
          </div>
          <!-- open_source_item ends here --><!-- open_source_item starts here -->
          <div class="col-md-3 col-sm-6 skill">
            <div class="open_source_item">
              <strong>Microurl</strong><a aria-label="Star MicroPyramid/microurl on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/microurl#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/microurl/stargazers" data-style="mega" href="https://github.com/MicroPyramid/microurl" target="_blank">Star</a>
              <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.</p>
              <!-- Place this tag where you want the button to render. -->
            </div>
          </div>
          <!-- open_source_item ends here --><!-- open_source_item starts here -->
          <div class="col-md-3 col-sm-6 skill">
            <div class="open_source_item">
              <strong>Django Simple pagination</strong> <a aria-label="Star MicroPyramid/django-simple-pagination on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/django-simple-pagination#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/django-simple-pagination/stargazers" data-style="mega" href="https://github.com/MicroPyramid/django-simple-pagination" target="_blank">Star</a>
              <p>A simple django application provides simple Digg-style pagination. It is devoted to implementing web pagination in very few steps..</p>
              <!-- Place this tag where you want the button to render. -->
            </div>
          </div>
          <!-- open_source_item ends here --><!-- open_source_item starts here -->
          <div class="col-md-3 col-sm-6 skill">
            <div class="open_source_item">
              <strong>Django PayU</strong> <a aria-label="Star MicroPyramid/django-payu on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/django-payu#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/django-payu/stargazers" data-style="mega" href="https://github.com/MicroPyramid/django-payu" target="_blank">Star</a>
              <p>A simple payu payment gateway application in every few steps</p>
              <!-- Place this tag where you want the button to render. -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- open_source_item ends here -->
</div>
<!-- helping_block starts here -->
<div class="helping_block row marl">
  <div class="container">
    <span class="heading"><span>We are Helping Others to do same</span></span>
    <div class="helping_container">
      <div class="col-md-4">
        <div class="helping_item text-center">
          <img src="/static/site/images/github.png" width="43" /> &nbsp; Github
        </div>
      </div>
      <div class="col-md-4">
        <div class="helping_item second text-center">
          <img src="/static/site/images/meetup.png" /> Meetups
        </div>
      </div>
      <div class="col-md-4">
        <div class="helping_item third text-center">
          <img src="/static/site/images/dj_g.png" /> Hyderabad 
        </div>
      </div>
    </div>
  </div>
</div>
<!-- helping_block ends here -->
<!-- contact_container starts here -->
<div class="contact_container row marl">
  <div class="container">
    <div class= "col-md-12">
      <div class="contact_block">
        <div class="col-md-7 col-xs-12">
          <div class="contact_details">
            <div class="detail"><i class="fa fa-phone"></i> 040 6599 6999</div>
            <div class="detail"><i class="fa fa-envelope"></i> hello@micropyramid.com</div>
            <div class="detail"><i class="fa fa-map-marker"></i> HIG499, 6th phase KPHB, 
              Hyderabad, India - 500072
            </div>
            <a href="#">Contact Us</a>
          </div>
        </div>
        <div class="col-md-5 col-xs-12 col-sm-12">
          <div class="contact_content">
            <strong>Django Web Development</strong>
            <p>We at Micropyramid follow a dynamic approach and make sure that we deliver top-notch MongoDB applications to our customers. With Mongodb, we can deliver applications with massive data in minimum time and minimum effort, can scale easily our database with no downtime as the application grows rapidly.
            </p>
          </div>
        </div>
        <br clear="all">
      </div>
    </div>
  </div>
</div>
<!-- contact_container ends here -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
  setCarouselHeight('#carousel-example');
  
  function setCarouselHeight(id)
  {
     var slideHeight = [];
     $(id+' .item').each(function()
     {
         // add all slide heights to an array
         slideHeight.push($(this).height());
     });
  
     // find the tallest item
     max = Math.max.apply(null, slideHeight);
  
     // set the slide's height
     $(id+' .carousel-content').each(function()
     {
         $(this).css('height',max+'px');
     });
  }
</script>
</div>
{% endblock %}